import(data.table)
importFrom("methods", "formalArgs", "getMethod", "is", "new")
importFrom("utils", "methods")
export(
  defineEvaluationModes,
  defineFunctionReturnTypesParameterName,
  defineTestCaseDefinitionsParameterName,
  EvaluationMode,
  FunctionParameterName,
  FunctionParameterTypeFactory,
  getEllipsisName,
  getObjectClassNames,
  #getObjectFunctionArguments,
  #getObjectFunctionNames,
  #getRClassTypicalFunctionNames,
  getRObjectClassKind,
  hasMainClass,
  # matchFunctionArguments,
  packageFunctionsInformation,
  retrieveFactory,
  retrieveFunctionArguments,
  retrieveFunctionArgumentNames,
  retrieveFunctionReturnTypes,
  retrieveTestCaseDefinitions,
  runFunction,
  runTransientFunction,
  runTestCase,
  TestCaseDefinition,
  verifyClassName,
  verifyFunctionName,
  verifyFunctionReturnTypesDefinition,
  #verifyName,
  verifyObjectNames,
  verifyTestCaseDefinitions
)

